header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-125);
}

.lang-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-100);
  align-items: center;
  user-select: none;
}

.personal-best-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-125);
}
