<div class="main-content">
  <div class="stats-container">
    <div class="stats-row">
      <div class="stats-cell">
        <span class="text-3 secondary">{{ 'STATS.WPM' | translate }}:</span>
        <span class="text-2 primary b">{{ wpm }}</span>
      </div>
      <div class="divider-v"></div>
      <div class="stats-cell">
        <span class="text-3 secondary">{{ 'STATS.ACCURACY' | translate }}:</span>
        <span class="text-2 primary b">{{ accuracy }}%</span>
      </div>
      <div class="divider-v"></div>
      <div class="stats-cell">
        <span class="text-3 secondary">{{ 'STATS.TIME' | translate }}:</span>
        <span class="text-2 primary b">0:{{ time }}</span>
      </div>
    </div>
    <div class="settings-container">
      <div class="setting-container">
        @if (!screen.isMobile()) {
          <div class="setting-label-container">
            <span class="text-5 secondary">{{ 'DIFFICULTY.LABEL' | translate }}:</span>
          </div>
          <p-select-button [allowEmpty]="false" [options]="difficultyOptions" [(ngModel)]="selectedDifficulty"
                           (onChange)="difficultyChange()" optionLabel="label" optionValue="value"></p-select-button>
        } @else {
          <p-select [options]="difficultyOptions" [(ngModel)]="selectedDifficulty" [fluid]="true" [required]="true"
                    optionLabel="label" optionValue="value" (onChange)="difficultyChange()" >
            <ng-template #item let-difficulty>
              <div class="select-item-container">
                <div class="select-item">
                  <p-radio-button [value]="difficulty.value" [(ngModel)]="selectedDifficulty"/>
                  <p>{{ difficulty.label }}</p>
                </div>
              </div>
            </ng-template>
            <ng-template #dropdownicon>
              <img src="assets/images/icon-down-arrow.svg" alt="Dropdown Icon"/>
            </ng-template>
          </p-select>
        }
      </div>
      @if (!screen.isMobile()) {
        <div class="divider-v"></div>
      }
      <div class="setting-container">
        @if (!screen.isMobile()) {
          <div class="setting-label-container">
            <span class="text-5 secondary">{{ 'MODE.LABEL' | translate }}:</span>
          </div>
          <p-select-button [allowEmpty]="false" [options]="modeOptions" [(ngModel)]="selectedMode"
                           (onChange)="modeChange()" optionLabel="label" optionValue="value"></p-select-button>
        } @else {
          <p-select [options]="modeOptions" [(ngModel)]="selectedMode" [fluid]="true" [required]="true"
                    optionLabel="label" optionValue="value" (onChange)="modeChange()" >
            <ng-template #item let-mode>
              <div class="select-item-container">
                <div class="select-item">
                  <p-radio-button [value]="mode.value" [(ngModel)]="selectedMode"/>
                  <p>{{ mode.label }}</p>
                </div>
              </div>
            </ng-template>
            <ng-template #dropdownicon>
              <img src="assets/images/icon-down-arrow.svg" alt="Dropdown Icon"/>
            </ng-template>
          </p-select>
        }
      </div>
    </div>
  </div>
  <div class="text-container">
    <div class="text-row">
      <div [class]="{
        'text-box': true,
        'blur': homeState === HomeState.NOT_STARTED
      }">
        <p class="text-1 r primary">
          @let currentText = currentText$ | async;

          @if (currentText) {
            {{ currentText.text }}
          }
        </p>
      </div>
      @if (homeState === HomeState.NOT_STARTED) {
        <div class="start-container">
          <button class="button-primary text-3 sb" (click)="startTest()">{{ 'TEST.START' | translate }}</button>
          <p class="text-3 sb primary">{{ 'TEST.HINT' | translate }}</p>
        </div>
      }
    </div>
  </div>
</div>
