<div class="main-content">
  <div class="stats-container">
    <div class="stats-row">
      <div class="stats-cell">
        <span class="text-3 secondary">{{ 'STATS.WPM' | translate }}:</span>
        <span class="text-2 primary b">{{ wpm }}</span>
      </div>
      <div class="divider-v"></div>
      <div class="stats-cell">
        <span class="text-3 secondary">{{ 'STATS.ACCURACY' | translate }}:</span>
        <span class="text-2 primary b" [class.incorrect]="homeState === HomeState.STARTED && accuracy < 100"
              [class.correct]="homeState === HomeState.STARTED && accuracy === 100">{{ accuracy.toFixed(0) }}%</span>
      </div>
      <div class="divider-v"></div>
      <div class="stats-cell">
        <span class="text-3 secondary">{{ 'STATS.TIME' | translate }}:</span>
        @if (homeState === HomeState.NOT_STARTED && selectedMode === "time") {
          <p-select [options]="timeOptions" [(ngModel)]="selectedTime" [required]="true" (onChange)="onTimeChange()"
                    optionLabel="label" optionValue="value">
            <ng-template #item let-time>
              <div class="select-item-container">
                <div class="select-item">
                  <p-radio-button [value]="time.value" [(ngModel)]="selectedTime"/>
                  <p>{{ time.label }}</p>
                </div>
              </div>
            </ng-template>
            <ng-template #dropdownicon>
              <img src="assets/images/icon-down-arrow.svg" alt="Dropdown Icon"/>
            </ng-template>
          </p-select>
        } @else {
          <span class="text-2 primary b"
                [class.running]="time < selectedTime">{{ selectedMode === "time" ? '0:' + time : '/' }}</span>
        }
      </div>
    </div>
    <div class="settings-container">
      <div class="setting-container">
        @if (!screen.isMobile()) {
          <div class="setting-label-container">
            <span class="text-5 secondary">{{ 'DIFFICULTY.LABEL' | translate }}:</span>
          </div>
          <p-select-button [allowEmpty]="false" [options]="difficultyOptions" [(ngModel)]="selectedDifficulty"
                           (onChange)="onDifficultyChange()" optionLabel="label" optionValue="value"></p-select-button>
        } @else {
          <p-select [options]="difficultyOptions" [(ngModel)]="selectedDifficulty" [fluid]="true" [required]="true"
                    optionLabel="label" optionValue="value" (onChange)="onDifficultyChange()">
            <ng-template #item let-difficulty>
              <div class="select-item-container">
                <div class="select-item">
                  <p-radio-button [value]="difficulty.value" [(ngModel)]="selectedDifficulty"/>
                  <p>{{ difficulty.label }}</p>
                </div>
              </div>
            </ng-template>
            <ng-template #dropdownicon>
              <img src="assets/images/icon-down-arrow.svg" alt="Dropdown Icon"/>
            </ng-template>
          </p-select>
        }
      </div>
      @if (!screen.isMobile()) {
        <div class="divider-v"></div>
      }
      <div class="setting-container">
        @if (!screen.isMobile()) {
          <div class="setting-label-container">
            <span class="text-5 secondary">{{ 'MODE.LABEL' | translate }}:</span>
          </div>
          <p-select-button [allowEmpty]="false" [options]="modeOptions" [(ngModel)]="selectedMode"
                           (onChange)="onModeChange()" optionLabel="label" optionValue="value"></p-select-button>
        } @else {
          <p-select [options]="modeOptions" [(ngModel)]="selectedMode" [fluid]="true" [required]="true"
                    optionLabel="label" optionValue="value" (onChange)="onModeChange()">
            <ng-template #item let-mode>
              <div class="select-item-container">
                <div class="select-item">
                  <p-radio-button [value]="mode.value" [(ngModel)]="selectedMode"/>
                  <p>{{ mode.label }}</p>
                </div>
              </div>
            </ng-template>
            <ng-template #dropdownicon>
              <img src="assets/images/icon-down-arrow.svg" alt="Dropdown Icon"/>
            </ng-template>
          </p-select>
        }
      </div>
    </div>
  </div>
  <div class="text-container">
    @if (currentText) {
      <div class="text-row">
        <div [class]="{
          'text-box': true,
          'blur': homeState === HomeState.NOT_STARTED
        }">
          <p class="typing-test text-1 r secondary" (keydown)="onKeyPress($event, currentText)">
            @for (word of getWords(currentText.text); track $index) {
              <span class="word">
              @for (item of word; track item.index) {
                @if (item.index === currentIndex) {
                  <mark>
                    <span class="char">
                      {{ item.char === ' ' ? '\u00A0' : item.char }}
                    </span>
                  </mark>
                } @else {
                  <span class="char" [class.correct]="isCorrect(textTyped[item.index], item.char)"
                        [class.incorrect]="item.index < currentIndex && !isCorrect(textTyped[item.index], item.char)">
                    {{ item.char === ' ' ? '\u00A0' : item.char }}
                  </span>
                }
              }
            </span>
            }
          </p>
          <input #hiddenInput type="text" class="hidden-input" (keydown)="onKeyPress($event, currentText)"
                 [autofocus]="true"/>
        </div>
        @if (homeState === HomeState.NOT_STARTED) {
          <div class="start-container">
            <button class="button-primary text-3 sb" (click)="startTest()">{{ 'TEST.START' | translate }}</button>
            <p class="text-3 sb primary center">{{ 'TEST.HINT' | translate }}</p>
          </div>
        }
      </div>
    } @else {
      <p-progress-spinner ariaLabel="=loading"/>
    }
  </div>
</div>
