.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  height: 100%;
  margin-top: 4px;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-200);
  padding-bottom: var(--spacing-200);
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.stats-row, .settings-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stats-row {
  gap: var(--spacing-300);
}

.settings-container {
  gap: var(--spacing-200);
}

.stats-cell {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.divider-v {
  width: 1px;
  align-self: stretch;
  background-color: var(--color-divider);
}

.setting-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-75);
}

.setting-label-container {
  padding-right: var(--spacing-100);
}

.select-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select-item-container:not(:last-child) {
  border-bottom: solid 1px var(--color-divider);
}

.select-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-150);
  width: 100%;
}

.text-row {
  position: relative;
  height: 100%;
}

.text-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.typing-test {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  user-select: none;
}

.word {
  display: inline-block;
  white-space: nowrap;
}

.char {
  display: inline-block;
}

.char.correct {
  color: var(--color-text-correct);
}

.char.incorrect {
  color: var(--color-text-incorrect);
  text-decoration: underline;
}

mark {
  background-color: var(--color-highlight);
  color: var(--color-text-secondary);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.blur {
  opacity: 40%;
  filter: blur(16px);
}

.start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-250);
  width: 100%;
}

@media screen and (max-width: 992px) {
  .stats-row {
    height: fit-content;
  }

  .settings-container {
    height: fit-content;
  }
  .stats-container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-250);
  }
}

@media screen and (max-width: 600px) {
  .stats-container {
    gap: var(--spacing-250);
  }

  .stats-row {
    align-items: center;
    width: 100%;
    gap: var(--spacing-250);
    height: 65px;
  }

  .stats-cell {
    flex-direction: column;
    gap: var(--spacing-100);
    width: 100%;
    height: 100%;
  }

  .settings-container {
    width: 100%;
    gap: var(--spacing-125);
  }

  .setting-container {
    width: 100%;
  }
}
