main {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-400) var(--spacing-1400);
  background-color: var(--color-bg-primary);
  min-height: 100vh;
  height: 100%;
  gap: var(--spacing-800);
}
