.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-400);
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.simple-keyboard {
  width: 100%;
}

.legend-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.legend-row {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.legend {
  width: 30px;
  height: 10px;
}

.error-low {
  background-color: rgba(255, 77, 79, 0.4);
}

.error-medium {
  background-color: rgba(255, 77, 79, 0.7);
}

.error-high {
  background-color: rgba(255, 77, 79, 1);
}

.key-low {
  background-color: #e6f4ff !important;
  color: var(--color-text-secondary-button);
}

.key-medium {
  background-color: #91caff;
  color: var(--color-text-secondary-button);
}

.key-high {
  background-color: #1677ff;
}

:host ::ng-deep .simple-keyboard {
  background-color: var(--color-bg-secondary);

  .hg-button {
    background-color: var(--color-bg-keyboard-button);
    border: none;
  }

  .error-low {
    background-color: rgba(255, 77, 79, 0.4);
  }

  .error-medium {
    background-color: rgba(255, 77, 79, 0.7);
  }

  .error-high {
    background-color: rgba(255, 77, 79, 1);
  }

  .key-low {
    background-color: #e6f4ff !important;
    color: var(--color-text-secondary-button);
  }

  .key-medium {
    background-color: #91caff;
    color: var(--color-text-secondary-button);
  }

  .key-high {
    background-color: #1677ff;
  }
}
