@use "./assets/styles/variables" as *;
@use "./assets/styles/fonts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

html {
  font-weight: $regular;
}

// =========================
//        TYPOGRAPHIE
// =========================
.text-1 {
  font-size: 40px;
  line-height: 136%;
  letter-spacing: 0.4px;
}

.text-1.mobile {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.32px;
}

.text-1.mobile.r {
  font-size: 32px;
  line-height: 136%;
  letter-spacing: 0.4px;
}

.text-2 {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-3 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.6px;
}

.text-3.mobile {
  font-size: 16px;
  letter-spacing: -0.48px;
}

.text-3.sb {
  letter-spacing: -0.3px;
}

.text-4 {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.6px;
}

.text-5 {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.text-6 {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
}

/* Font-Weight */
.b {
  font-weight: $bold;
}

.sb {
  font-weight: $semi-bold;
}

.r {
  font-weight: $regular;
}

/* Align */
.center {
  text-align: center;
}

/* Colors */
.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.correct {
  color: var(--color-text-correct);
}

.incorrect {
  color: var(--color-text-incorrect);
}

.running {
  color: var(--color-text-running);
}

/* =====================
        BUTTONS
===================== */

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus:not(.p-button), .p-radiobutton:focus {
  outline: solid 2px var(--color-outline-button-focus);
  outline-offset: var(--spacing-25);
}

.button-primary {
  background-color: var(--color-bg-primary-button);
  color: var(--color-text-primary);
  padding: var(--spacing-200) var(--spacing-300);
  border-radius: var(--radius-12);
}

.button-primary:hover:not(:focus-visible):not(:focus) {
  background-color: var(--color-bg-primary-button-hover);
}

.button-secondary {
  background-color: var(--color-bg-secondary-button);
  color: var(--color-text-secondary-button);
  padding: var(--spacing-125) var(--spacing-200);
  border-radius: var(--radius-12);
}

.button-secondary.contrast {
  background-color: var(--color-bg-contrast-button);
  color: var(--color-text-contrast-button);
}

.button-secondary:hover:not(:focus-visible):not(:focus) {
  opacity: 90%;
}

.button-icon {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-125);
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--color-scrollbar-bg);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 4px;
  border: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

@-moz-document url-prefix() {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-bg);
  }
}

/* =====================
  PRIME NG OVERRIDES
===================== */

.p-selectbutton {
  gap: var(--spacing-75);

  .p-togglebutton {
    border-radius: var(--radius-8) !important;
    border-width: 1px !important;
  }

  .p-togglebutton:hover:not(:focus-visible):not(:focus) {
    color: var(--color-text-selected) !important;
    border-color: var(--color-border-button-selected);
  }

  .p-togglebutton:focus {
    outline: solid 2px var(--color-outline-button-focus);
    border: solid 1px var(--color-border-button-focus);
    outline-offset: var(--spacing-25);
    color: var(--color-text-primary) !important;
  }
}

.p-radiobutton {
  border-radius: var(--radius-full);
}

.p-radiobutton-checked .p-radiobutton-box {
  border: none !important;
}

.p-select {
  padding: var(--spacing-75) var(--spacing-125);
  min-width: 80px;
}

.p-select-overlay  {
  top: 7px !important;
}

p-selectitem:not(:last-child) .p-select-option {
  border-bottom: solid 1px var(--color-divider);
}

.p-dialog-header {
  gap: var(--spacing-200);
}
